<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.example.android.blooddrop">

	<!--
		 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
		 Google Maps Android API v2, but you must specify either coarse or fine
		 location permissions for the 'MyLocation' functionality.
	-->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.CALL_PHONE" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		>
		<activity android:name="com.example.android.blooddrop.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.example.android.blooddrop.SignIn" />
		<activity android:name="com.example.android.blooddrop.Profile" />
		<activity
			android:name="com.example.android.blooddrop.Patient"
			android:configChanges="orientation|keyboardHidden" />
		<activity
			android:name="com.example.android.blooddrop.DonationActivity"
			android:theme="@style/AppThemeDonor" />
		<activity android:name="com.example.android.blooddrop.Updating" />

		<!--
			 The API key for Google Maps-based APIs is defined as a string resource.
			 (See the file "res/values/google_maps_api.xml").
			 Note that the API key is linked to the encryption key used to sign the APK.
			 You need a different API key for each encryption key, including the release key that is used to
			 sign the APK for publishing.
			 You can define the keys for the debug and release targets in src/debug/ and src/release/.
		-->
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/google_maps_key" />

		<activity
			android:name="com.example.android.blooddrop.GoogleMaps"
			android:label="@string/title_activity_maps">

		</activity>

		<receiver android:name="com.example.android.blooddrop.widget.NewAppWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/new_app_widget_info" />
		</receiver>

		<service
			android:name="com.example.android.blooddrop.widget.WidgetUpdateService"
			android:exported="false" />
	</application>

</manifest>